<mat-toolbar class="sec-toolbar">
  <span class="sec-toolbar__spacer"></span>

  <a
    mat-icon-button
    class="sec-toolbar__action"
    routerLink="/settings"
    routerLinkActive="sec-toolbar__action--active"
    matTooltip="Settings"
    aria-label="Settings"
  >
    <mat-icon svgIcon="gearbox" />
  </a>

  <button
    mat-icon-button
    class="sec-toolbar__action"
    [matMenuTriggerFor]="userMenu"
    aria-label="Account menu"
  >
    <mat-icon svgIcon="account-circle" />
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>Signed in</button>
    <button mat-menu-item>Sign out</button>
  </mat-menu>
</mat-toolbar>
